@model IEnumerable<HuisAppotheek.Domain.DAL.Patient>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Patientid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Voornaam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Achternaam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Geboortedatumdatum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Patientid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Voornaam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Achternaam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Geboortedatumdatum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Patientid }) |
                @Html.ActionLink("Details", "Details", new { id = item.Patientid }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Patientid })
            </td>
        </tr>
}
    </tbody>
</table>
