@model HuisAppotheek.Domain.DAL.Medicijn

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Medicijn</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Medicijnid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Medicijnid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Volledigenaam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Volledigenaam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Groep)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Groep)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vervaldatum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vervaldatum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OpVoorschrift)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OpVoorschrift)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Postcode)
        </dt>*@
        @*<dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Postcode)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bijsluiter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bijsluiter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UrlBijsluiter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UrlBijsluiter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dokterid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dokterid)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
